[Desktop Entry]
Name=Mailnagger Tray
Comment=A tray icon applet for monitoring new emails
Icon=mailnag
Exec=mailnaggertray
Terminal=false
Type=Application
Categories=Network;Email;
StartupNotify=false
